<div class="col-md-5 mx-auto">
    <div class="card">
    <div class="card-header">
        <h3>New Recipes</h3>
    </div>
    <div class="card-body">
        <form action="/recipes/add" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <input type="text" name="title" class="form-control" placeholder="Title" value="{{recipe.title}}" autofocus>
            </div>
            <div class="form-group">
                <textarea name="description" rows="8" class="form-control" placeholder="Description">{{recipe.description}}</textarea>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" name="image" class="custom-file-input" id="inputGroup" aria-describedby="inoutGroupFileAddon" required>
                        <label class="custom-file-label" for="inputGroupFile">Choose File</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">Add Recipe</button>
            </div>
        </form>
    </div>
</div>
</div>