<div class="jumbotron mt-4">
    <h1 class="display-4">Recipes App</h1>
    <div class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga est quisquam eos possimus! Porro, cumque molestiae ex perspiciatis hic ipsum perferendis cupiditate cum, similique culpa maxime quidem adipisci corporis. Quae.</p>
    <a href="https://github.com/chucklesSR/" class="btn btn-primary bt-lg">GitHub</a>
</div>