<div class="jumbotron mt-4">
    <h1 class="display-4">Recipes App</h1>
    <div class="lead">application for recipe management.</div>
    <hr class="my-4">
    <p>application for recipes made using nodejs with the express framework and the NoSQL MongoDB database.</p>
    <a href="https://github.com/chucklesSR/" class="btn btn-primary bt-lg">GitHub</a>
</div>